@model IT_A_ApiApp01.Models.Users

@{
    Layout = null;
}

@if (!string.IsNullOrEmpty(ViewBag.WarningMessage))
{
    <div class="alert alert-warning text-center my-5 position-absolute top-0 end-0 mx-2 " role="alert">
        @ViewBag.WarningMessage
    </div>
}

<head>
    <title>EduSphere Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Register</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">

                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Sign Up</h3>
                            </div>
                            <!-- Social media icons -->
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        @using (Html.BeginForm("Register", "Auth", FormMethod.Post, new { @class = "signin-form" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group mb-3">
                                @Html.LabelFor(model => model.UserName, "Username", htmlAttributes: new { @class = "label" })
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username", @style = "width: 100%" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(model => model.Password, "Password", htmlAttributes: new { @class = "label" })
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password", @style = "width: 100%" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group ">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", type = "email" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit">Sign Up</button>
                            </div>
                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">
                                        Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#">Forgot Password</a>
                                </div>
                            </div>
                        }
                        <p class="text-center">Already a member? @Html.ActionLink("Sign In", "Login")</p>
                    </div>
                    <div class="img img-register" style="background-image: url(../../Content/images/photo-1.jpg);">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
